@import url('https://fonts.googleapis.com/css2? family = Montserrat: ital, wght @ 1.300 & display = swap');
:root{
    --fonte_padrao:'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    font-family: var(--fonte_padrao);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-items: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;

}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.ativo{
    background: white;
    color: #2b1055;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section img#moon{
    mix-blend-mode: screen;
}